.card {
  width: 300px;
  background-color: #c3c3c3;
  display: inline-flex;
  flex-direction: column;
  padding: 8px;
  box-sizing: border-box;
  color: #1d2734;
}

.card_image {
  display: inline-flex;
}

.card_title {
  font-size: 20px;
}

.card_subtitle {
  font-size: 16px;
}
